<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sss.pop.dao.boDAO">

    <!-- boardWrite : 게시물 작성 -->
    <insert id="boWrite" parameterType="board">
        INSERT INTO BOARD VALUES(BO_SEQ.NEXTVAL, #{boTitle}, #{boContent}
            , #{boWriter}, SYSDATE, 0, #{boFileName, jdbcType=NVARCHAR})
    </insert>

    <!-- boCount : 게시물 갯수 -->
    <select id="boCount" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM BOARD WHERE ${where}
    </select>

    <!-- boList : 게시물 목록 -->
    <select id="boList" parameterType="paging" resultType="board">

        SELECT *
        FROM (SELECT ROWNUM RN, A.* FROM (SELECT BOARD.* FROM BOARD where ${where} ORDER BY BODATE DESC)A)
        WHERE RN BETWEEN #{startRow} AND #{endRow}



    </select>

    <!-- boHit : 게시물 조회수 증가 -->
    <update id="boHit" parameterType="int">
        UPDATE BOARD SET BOHIT = BOHIT + 1 WHERE BONUM = #{boNum}
    </update>

    <!-- boView : 게시물 상세보기 -->
    <select id="boView" parameterType="int" resultType="board">
        SELECT * FROM BOARD WHERE BONUM = #{boNum}
    </select>

    <!-- boModify : 게시물 수정 -->
    <update id="boModify" parameterType="board">
        UPDATE BOARD SET BOWRITER = #{boWriter}, BOTITLE = #{boTitle}, BOCONTENT = #{boContent},
                         BOFILENAME = #{boFileName} WHERE BONUM = #{boNum}
    </update>

    <!-- boDelete : 게시물 삭제 -->
    <delete id="boDelete" parameterType="int">
        DELETE FROM BOARD WHERE BONUM = #{boNum}
    </delete>


    <select id="cmtCount" parameterType="int" resultType="int">
        SELECT COUNT(*) FROM COMMENTS WHERE CBNUM = #{boNum}
    </select>

    <select id="notice" resultType="notice">
        SELECT * FROM (SELECT * FROM NOTICE ORDER BY NODATE DESC) WHERE ROWNUM =1
    </select>

</mapper>